flows.json
[{"id":"e31a1d1db7ea73a0","type":"tab","label":"Solar Frontier","disabled":false,"info":""},{"id":"b65867bb37051902","type":"http request","z":"e31a1d1db7ea73a0","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://YOUR-IP-ADRESS/gen.measurements.table.js","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":220,"wires":[["57d3559460d8cbe1"]]},{"id":"57d3559460d8cbe1","type":"split","z":"e31a1d1db7ea73a0","name":"","splt":"document.write(\"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":110,"y":300,"wires":[["d4714652e3c5e608"]]},{"id":"d4714652e3c5e608","type":"split","z":"e31a1d1db7ea73a0","name":"","splt":"\");","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":110,"y":380,"wires":[["4333314c8fb28dda"]]},{"id":"4333314c8fb28dda","type":"html","z":"e31a1d1db7ea73a0","name":"","property":"payload","outproperty":"payload","tag":"table.invisible>tbody>tr>td>table>tbody>tr>td","ret":"html","as":"single","x":290,"y":460,"wires":[["d674cde5124afee9","88d5413f7d872940","d99ff0ab0ecfbf2e","869b70c5f945558e","ebd75c736057a7cd","ce9eeccb026bd654","ae5a51fce722dda5"]]},{"id":"ae5a51fce722dda5","type":"function","z":"e31a1d1db7ea73a0","name":"U DC","func":"msg.payload = msg.payload[4];\nif (msg.payload == \"---\"){\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":460,"wires":[["f51ed6f9c76f6916"]]},{"id":"d674cde5124afee9","type":"function","z":"e31a1d1db7ea73a0","name":"U AC","func":"msg.payload = msg.payload[10]\nif (msg.payload == \"---\"){\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":540,"wires":[["bbdf4bbfc2546f71"]]},{"id":"88d5413f7d872940","type":"function","z":"e31a1d1db7ea73a0","name":"Frequentie","func":"msg.payload = msg.payload[16];\nif (msg.payload == \"---\"){\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":620,"wires":[["79af6d37e3676286"]]},{"id":"d99ff0ab0ecfbf2e","type":"function","z":"e31a1d1db7ea73a0","name":"I AC","func":"msg.payload = msg.payload[12];\nif (msg.payload == \"---\"){\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":700,"wires":[["b93bbbfa624043a1"]]},{"id":"869b70c5f945558e","type":"function","z":"e31a1d1db7ea73a0","name":"I DC","func":"msg.payload = msg.payload[6];\nif (msg.payload == \"---\"){\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":780,"wires":[["f7ac2733655f749b"]]},{"id":"ebd75c736057a7cd","type":"function","z":"e31a1d1db7ea73a0","name":"P DC","func":"msg.payload = msg.payload[1]\nif (msg.payload == \"---\"){\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":880,"wires":[["a2b91a7d666832af"]]},{"id":"ce9eeccb026bd654","type":"function","z":"e31a1d1db7ea73a0","name":"P AC","func":"msg.payload = msg.payload[19];\nif (msg.payload == \"---\"){\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":960,"wires":[["3f812cad535966ea"]]},{"id":"ce80b68c5a89c728","type":"influxdb out","z":"e31a1d1db7ea73a0","influxdb":"a4dc0b1711c8578f","name":"","measurement":"U_DC","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1040,"y":460,"wires":[]},{"id":"d97174ed595f73a6","type":"influxdb out","z":"e31a1d1db7ea73a0","influxdb":"a4dc0b1711c8578f","name":"","measurement":"U_AC","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1030,"y":540,"wires":[]},{"id":"258817dbb632f7fe","type":"influxdb out","z":"e31a1d1db7ea73a0","influxdb":"a4dc0b1711c8578f","name":"","measurement":"Frequentie","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1050,"y":620,"wires":[]},{"id":"468efb8de9d0acf0","type":"influxdb out","z":"e31a1d1db7ea73a0","influxdb":"a4dc0b1711c8578f","name":"","measurement":"I_AC","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1030,"y":700,"wires":[]},{"id":"7ce64ac989bbf4ae","type":"influxdb out","z":"e31a1d1db7ea73a0","influxdb":"a4dc0b1711c8578f","name":"","measurement":"I_DC","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1030,"y":780,"wires":[]},{"id":"84d94c36bff6fbc0","type":"influxdb out","z":"e31a1d1db7ea73a0","influxdb":"a4dc0b1711c8578f","name":"","measurement":"P_DC","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1030,"y":880,"wires":[]},{"id":"4acd748f91a15939","type":"influxdb out","z":"e31a1d1db7ea73a0","influxdb":"a4dc0b1711c8578f","name":"","measurement":"P_AC","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1030,"y":960,"wires":[]},{"id":"eb8b1c385ef86155","type":"inject","z":"e31a1d1db7ea73a0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"10","topic":"","payloadType":"date","x":170,"y":140,"wires":[["b65867bb37051902"]]},{"id":"f51ed6f9c76f6916","type":"function","z":"e31a1d1db7ea73a0","name":"Conversion","func":"if(isNaN(msg.payload)) {\n  return null; //halt flow\n}\nvar val = msg.payload;\nmsg.payload = parseFloat(val);\nif (typeof msg.payload != 'undefined' && msg.payload !== null) {\n   return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":460,"wires":[["ce80b68c5a89c728"]]},{"id":"bbdf4bbfc2546f71","type":"function","z":"e31a1d1db7ea73a0","name":"Conversion","func":"if(isNaN(msg.payload)) {\n  return null; //halt flow\n}\nvar val = msg.payload;\nmsg.payload = parseFloat(val);\nif (typeof msg.payload != 'undefined' && msg.payload !== null) {\n   return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":540,"wires":[["d97174ed595f73a6"]]},{"id":"79af6d37e3676286","type":"function","z":"e31a1d1db7ea73a0","name":"Conversion","func":"if(isNaN(msg.payload)) {\n  return null; //halt flow\n}\nvar val = msg.payload;\nmsg.payload = parseFloat(val);\nif (typeof msg.payload != 'undefined' && msg.payload !== null) {\n   return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":620,"wires":[["258817dbb632f7fe"]]},{"id":"b93bbbfa624043a1","type":"function","z":"e31a1d1db7ea73a0","name":"Conversion","func":"if(isNaN(msg.payload)) {\n  return null; //halt flow\n}\nvar val = msg.payload;\nmsg.payload = parseFloat(val);\nif (typeof msg.payload != 'undefined' && msg.payload !== null) {\n   return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":700,"wires":[["468efb8de9d0acf0"]]},{"id":"f7ac2733655f749b","type":"function","z":"e31a1d1db7ea73a0","name":"Conversion","func":"if(isNaN(msg.payload)) {\n  return null; //halt flow\n}\nvar val = msg.payload;\nmsg.payload = parseFloat(val);\nif (typeof msg.payload != 'undefined' && msg.payload !== null) {\n   return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":780,"wires":[["7ce64ac989bbf4ae"]]},{"id":"a2b91a7d666832af","type":"function","z":"e31a1d1db7ea73a0","name":"Conversion","func":"if(isNaN(msg.payload)) {\n  return null; //halt flow\n}\nvar val = msg.payload;\nmsg.payload = parseFloat(val);\nif (typeof msg.payload != 'undefined' && msg.payload !== null) {\n   return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":880,"wires":[["84d94c36bff6fbc0"]]},{"id":"3f812cad535966ea","type":"function","z":"e31a1d1db7ea73a0","name":"Conversion","func":"if(isNaN(msg.payload)) {\n  return null; //halt flow\n}\nvar val = msg.payload;\nmsg.payload = parseFloat(val);\nif (typeof msg.payload != 'undefined' && msg.payload !== null) {\n   return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":960,"wires":[["4acd748f91a15939"]]},{"id":"a4dc0b1711c8578f","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Solar Frontier","name":"Solar Frontier","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]